<section>
  <article>
    <h4>Create a new Family</h4>

    <form (submit)="$event.preventDefault()" style="width: 400px;margin: auto">
      <table>
        <tr>
          <td>Title</td>
          <td>
            <input type="text" #titleInput style="width: 100%" (change)="newFamily.title = titleInput.value">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit"
                    (click)="create()"
                    style="width: 100%">Create
            </button>
          </td>
        </tr>
      </table>
    </form>
  </article>
</section>
